{% extends 'main/base.html' %}

{% load static %}

{% block title %}Contact{%endblock %}

{% block content %}

{% if messages %}
  <div class="notification-container">
    {% for message in messages %}
      <div class="notification {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="contact-container">
    <div class="text-container">
        <h1>Contact Me</h1>
        <hr class="header-line-2">
    </div>
    <!-- Contact Form Section -->
    <div class="contact-form">
        <form action="{% url 'main:contact_view'%}" method="post" enctype="multipart/form-data" onsubmit="this.querySelector('button[type=submit]').disabled = true;">
            {%csrf_token%}
            <div class="contact-form-row">
                <div class="contact-form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Amal" required />
                </div>
                
                <div class="contact-form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="email@gmail.com" required />
                </div>
            </div>
            
            <div class="contact-form-group">
                <label for="message">Your message</label>
                <textarea id="message" name="message" placeholder="Enter your Question or Message" required></textarea>
            </div>
            
            <button type="submit" class="contact-submit-button-contact">Send</button>
        </form>
    </div>
</div>

<script>
    setTimeout(function () {
        const notifications = document.querySelectorAll('.notification');
        notifications.forEach(notification => {
            notification.style.opacity = '0';
            setTimeout(() => notification.remove(), 500);
        });
    }, 3000);
</script>



{% endblock %}
