{% extends 'main/base.html' %}

{% load static %}

{% block title %}Khulood.G{%endblock %}

{% block content %}

<section class="section-1">
    <div class="contanir-1">
        <div class="content-1">
            <div class="home-text-1">
                <h5>Khulood Al-Otaibi</h5>
                <h1>Full Stack Developer</h1>
                <h1 class="ios-developer">iOS Developer</h1>
            </div>
            <div class="spline-embed">
                <iframe src='https://my.spline.design/roomrelaxingcopycopy-f2187eb93e034a409914f0ff34d58668/' frameborder='0' width='100%' height='100%'></iframe>
            </div>
        </div>
    </div>
</section>

<section class="section-2">
    <div class="container-2">
        <div class="about-header-text-2">
            <h1>About Me</h1>
            <hr class="header-line">
        </div>
        <div class="content-2">
            <div class="about-text-2">
                <h1>Hello 👋🏻</h1>
                <p>I’m Khulood Al-Otaibi, soon to be a Full-Stack Web Developer.</p>
                <p>I have experience in:</p>
                <ul>
                    <li>iOS App Development</li>
                    <li>UI/UX Design</li>
                    <li>Web Development</li>
                    <li>Python & Django</li>
                    <li>Project Management</li>
                </ul>
            </div>
            <div class="avatar-container">
                <img src="{% static 'images/memoji.png' %}" alt="Khulood's Avatar" class="avatar">
            </div>
        </div>
    </div>
</section>



{% endblock %}
