{% extends 'main/base.html' %}

{% load static %}

{% block title %}Khulood.G{%endblock %}

{% block content %}

<section class="section-1">
    <div class="contanir-1">
        <div class="content-1">
            <div class="home-text-1">
                <h5>Khulood Al-Otaibi</h5>
                <h1>Web Developer</h1>
                <h1 class="ios-developer">+ iOS Developer</h1>
            </div>
            <div class="spline-embed">
                <iframe src='https://my.spline.design/roomrelaxingcopy-ad4cbb670aad71682b30dfc51e15a074/' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}
