{% extends 'dashboard/dashboard_base.html' %}

{% load static %}

{% block title %}My Dashboard {% endblock %}

{% block content %}

<div class="projects-detail-section">
    <div class="projects-detail-container">
        <div class="projects-detail-header">
            <h1>Real Estate</h1>
            <p>Year: 2023</p>
        </div>
        <div class="projects-detail-content">
            <div class="projects-detail-text">
                <p>
                    App that help user learn more about space and allow them to book their space journey more more more more more more more more more more more more more more more more more more more more 
                </p>
                <a href="https://githubprojectPage.com" class="project-link">https://githubprojectPage.com</a>
                
                <div class="action-buttons">
                    <button class="update-btn">Update Project</button>
                    <button class="delete-btn">Delete Project</button>
                </div>
            </div>
            <div class="projects-detail-pic-container">
                <img src="{% static 'images/Backgorund.png' %}" alt="Background Image" class="background-image">

                <div class="mockups">
                    <img src="{% static 'images/Solar Mockup.png' %}" alt="Mockup 1" class="small-mockup">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
