{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.37/build/spline-viewer.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

  </head>

  <body>
    <!-- Header -->
    <div class="sidebar-2">
        <!-- Logo -->
        <div class="logo-2">
          <a href="/">
            <img src="{% static 'images/k2.png' %}" alt="Logo">
          </a>
        </div>

        <!-- Navigation Links -->
        <nav class="nav-links-2">
            <a href="{% url 'dashboard:admin_view'%}" class="{% if request.path == '/dashboard/'%}active{%endif%}">Dashboard</a>
            <a href="{% url 'dashboard:messages_view'%}" class="{% if request.path == '/dashboard/messages/'%}active{%endif%}">Messages</a>
        </nav>
    </div>
    </header>

    <main>{% block content %} {% endblock %}</main>


  </body>
</html>
