* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #1c1c1c; 
  color: #ffffff; 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


/* Sidebar styling */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 20; 
}


.sidebar .logo img {
  width: 40px;
  margin-bottom: 20px;
}

.sidebar .logo img a{
  text-decoration: none;
}

.logo img a:active,
.logo img a:focus,
.logo img a:hover {
  color: #00edff;
  text-decoration: none;
}


.nav-links {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 120px;
}

.nav-links a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 16px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: color 0.3s;
}

.nav-links a:visited {
  color: #cfcfcf;
  text-decoration: none;
}

.nav-links a:focus,
.nav-links a:hover {
  color: #00edff;
  text-decoration: none;
}

.nav-links .active {
  color: #00edff;  
  font-weight: bold; 
}

/* Social Icons */
.social-icons {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-icons a {
  color: #cfcfcf;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00edff;
}

/* Home */

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}

.container-1 {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  position: relative;
  z-index: 5;
}

.content-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  width: 1200px;
  padding: 20px;
  padding-bottom: 600px;
  z-index: 15;
}

.home-text-1 {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 10px 30px;
  padding-top: 100px;
  border-radius: 8px;
  z-index: 15; 
}

.home-text-1 h5 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  color: #00edff;
  position: relative;
  font-weight: normal;
}

.home-text-1 h5:after {
  content:" ";
  height: 2px;
  width: 350px;
  background: #00edff;
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
}

.home-text-1 h1 {
  font-size: 8rem;
  line-height: 1.2;
  color: white;
  margin: 0;
  margin-bottom: 2rem;
}

.ios-developer {
  font-size: 8rem;
  line-height: 1.2;
  color: white;
  margin: 0;
  margin-bottom: 2rem;
}

.spline-embed {
  width: 100vw; 
  height: 100vh;
  position: absolute;
  right: 10%;
  z-index: 0;
}

.spline-embed iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin-left: 650px ;
}

.main-content {
  width: calc(100% - 100px);
  padding-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}



/* Contact Page */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1c1c1c;
  padding: 40px;
  box-sizing: border-box;
}

.text-container{
  display: flex;
  flex-direction: column;
  color: white;
  padding-right: 40px;
  text-align: left;

}

/* Contact Form */

.contact-form {
  width: 100%;
  max-width: 600px;
  color: #ffffff;
}

/* border code:
  border: 1px dashed #00edff;
  border-radius: 8px;
  padding: 40px
*/

.text-container{
  font-size: 3rem;
  color: #ffffff;
  text-align: left;
  padding-bottom: 80px;
  padding-right: 10px;
}

.header-line-2 {
  border: none;
  border-top: 2px solid #00edff;
  width: 600px;
  margin: 8px auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: 1;
}

.form-group label {
  font-size: 1.2rem;
  color: #fff;
  padding-left: 5px;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.395);
  border-radius: 8px;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-group textarea {
  resize: vertical;
  min-height: 180px;
}

.submit-button-contact {
  background-color: #00edff;
  color: #1c1c1c;
  border: none;
  padding: 12px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-button-contact:hover {
  background-color: #00a0cc;
  color: white;
}

/* About Me Section */
.section-2 {
  padding: 40px;
  background-color: #1c1c1c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.container-2 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header-text-2 {
  text-align: right;
  margin-bottom: 20px;
  margin-left: 800px;
}

.about-header-text-2 h1 {
  font-size: 3rem;
  color: #ffffff;
  text-align: left;
  padding-bottom: 10px;

}

.header-line {
  border: none;
  border-top: 2px solid #00edff;
  width: 300px;
  margin: 8px auto;
}

.content-2 {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: left;
  flex-wrap: wrap;
}

.about-text-2 {
  max-width: 600px;
  padding: 20px;
  width: auto;
  border-radius: 8px;
  text-align: left;
}

.about-text-2 h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.about-text-2 p {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: justify;
}

.about-text-2 ul {
  margin-top: 1rem;
  list-style-type: disc;
  padding-left: 20px;
}

.about-text-2 li {
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

.about-text-2 li::marker {
  color: #00EDFF; 
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-top: 40px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  margin-left: 50px;
}

.send-link-2 {
  margin-top: 40px;
  padding-right: 750px;
  
}

/* Projects Section */

.projects-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #1c1c1c;
  width: 100%;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 20px;
}

.projects-container-1 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header-text-1 {
  text-align: right;
  margin-top: 40px;
  margin-right: 570px;
}

.projects-header-text-1 h1 {
  font-size: 5rem;
  color: #ffffff;
  text-align: left;
  padding-bottom: 10px;
}

.projects-line {
  border: none;
  border-top: 2px solid #00edff;
  width: 600px;
  margin: 8px auto;
}

.projects-content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 10px
}

.projects-text-1 {
  flex: 1;
  max-width: 600px; 
  padding: 20px;
  text-align: left;
  margin-bottom: 200px;
}

.projects-text-1 h1 {
  font-size: 5rem; 
  margin-bottom: 20px;
  white-space: nowrap;
  margin-top: 50px;
}

.projects-text-1 p {
  font-size: 2.2rem;
  font-weight: lighter;
  color: #B8B5B5;
  margin: 1rem 0;
  text-align: justify;
  margin-bottom: 60px;

}

.view-project {
  margin-top: 30px;
}

.view-project a {
  background-color: #00edff;
  color: #1c1c1c;
  padding: 10px 60px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.view-project a:hover {
  background-color: #00a0cc;
  color: white;
  text-decoration: none;
}

.projects-spline-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.spline-container {
  width: 100%; 
  height: 100%;
  position: absolute;
  top: auto;
  z-index: 2;
}

.spline-container iframe {
  max-width: 80%;
  height: 100%;
  border: none;
  margin-left: 200px ;
}

.app-label-container {
  position: relative;
  bottom: -280px;
  width: 100%;
  z-index: 2;
}

.app-label {
  font-size: 8rem;
  width:auto;
  color: #00edff;
  font-weight: bold;
  text-align: center;
}



/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  .nav-links {
    flex-direction: row;
    gap: 10px;
  }

  .social-icons {
    flex-direction: row;
    gap: 10px;
  }

  .content {
    flex-direction: column;
    text-align: center;
  }

  .home-text {
    left: 5%;
    top: 10%;
    text-align: center;
    padding: 8px 16px;
  }

  .home-text h5 {
    font-size: 1.2rem;
  }

  .home-text h1 {
    font-size: 2rem;
  }

  .spline-embed {
    width: 70vw; 
    height: 70vh;
    top: 20%;
    right: 0;
    margin: auto;
  }

  .main-content {
    padding-left: 0;
    width: 100%;
  }

  .contact-container {
    width: 19%;
    padding: 20px;
    border-width: 1px;
  }

  .contact-form h1 {
    font-size: 2rem;
  }

  .form-row {
    flex-direction: column; 
  }

  .contact-form h1 {
    font-size: 2rem;
  }


  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  .submit-button-contact {
    font-size: 0.9rem;
    padding: 10px;
  }

  .content-2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-text-2 {
    max-width: 90%;
  }

  .about-header-text-2 h1 {
    font-size: 2rem;
  }

  .about-text-2 h1 {
    font-size: 2.5rem;
  }

  .about-text-2 p, .about-text-2 li {
    font-size: 1rem;
  }

  .avatar {
    width: 120px;
  }

  .projects-header-text-1 h1 {
    font-size: 3rem;
  }

  .projects-text-2 h1 {
    font-size: 4rem;
  }

  .projects-text-2 p {
    font-size: 1.6rem;
  }

  .spline-frame {
    width: 200px;
    height: 400px;
  }

  .app-label {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .contact-form h1 {
    font-size: 1.8rem;
  }

  .form-group label {
    font-size: 0.8rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.8rem;
    padding: 8px;
  }

  .submit-button-contact {
    font-size: 0.85rem;
    padding: 8px;
  }
}

